@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url("./assets//Hero.png");
  background-size: cover;
  background-position: center;
}

.over_bg {
  background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url("./assets//overview_bg.png");
  background-size: cover;
  background-position: right;
}

body {
  background: linear-gradient(rgb(10, 2, 65), rgba(0, 0, 0, 1));
}

.box {
  background: linear-gradient(rgb(29, 22, 72), rgba(180, 148, 254, 0.192))
}

/* .slick-slide > div {
  margin: 0 10px;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 4%;
  padding-right: 10%;
}



.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn.dark-btn {
  background: #212EA0;
  color: #fff;
  margin-left: 25px;

  &:hover {
    background: #404ec6;
  }
} */